
.menubox {
    margin-left:10px;
    padding:10px;
    min-width:165px;
}
.article-list {
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
.article-image {
    max-height: 5rem;
    border-radius: 20px;
}